<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>你今日画咗未？</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
</head>
<body style="background-color: black">
<div id="app">
    <b-input-group size="sm">
        <b-form-file v-model="file" placeholder="file" @change="changeFile"></b-form-file>
        <b-form-input v-model="url" placeholder="url"></b-form-input>
    </b-input-group>
    <b-input-group size="sm">
        <b-form-input placeholder="leftSpace(0px)" v-model="leftSpace"></b-form-input>
        <b-form-input placeholder="topSpace(0px)" v-model="topSpace"></b-form-input>
        <b-form-input placeholder="imageWidth(100px)" v-model="imageWidth"></b-form-input>
        <b-form-input placeholder="imageHeight(100px)" v-model="imageHeight"></b-form-input>
        <b-form-input placeholder="whirl(0)" type="number" v-model="whirl"></b-form-input>
        <b-form-input placeholder="barrier(0)" type="number" v-model="barrier"></b-form-input>
    </b-input-group>

    <div style="height: 100vh;background-color: black">
        <div style="position:absolute;z-index:1">
            <img :src="url"
                 :style="{'height':imageHeight,'width':imageWidth,'margin-left':leftSpace,'margin-top':topSpace,'transform':'rotate('+whirl+'deg)'}"/>
        </div>
        <div style="position:absolute;z-index:2">
            <div style="float:top;width:100vw;height:1px;background-color:rgba(255, 255, 255, 0.8);"
                 :style="{'margin-top':barrier+'px','transform':'rotate('+whirl+'deg)'}"
                 v-for="(item, index) in heightBarrierCount" :key="index"></div>
        </div>
        <div style="position:absolute;z-index:3">
            <div style="float:left;width: 1px;height:100vh;background-color:rgba(255, 255, 255, 0.8);"
                 :style="{'margin-left':barrier+'px','transform':'rotate('+whirl+'deg)'}"
                 v-for="(item, index) in widthBarrierCount" :key="index"></div>
        </div>
    </div>

</div>
</body>
<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
<script src="//unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            file: null,
            url: '',
            leftSpace: '0px',
            topSpace: '0px',
            imageWidth: '100px',
            imageHeight: '100px',
            whirl: 0,
            barrier: 100
        },
        computed: {
            widthBarrierCount: function () {
                return Array.from({length: (document.body.clientWidth / this.barrier) - 1})
            },
            heightBarrierCount: function () {
                return Array.from({length: (document.body.clientHeight / this.barrier) - 1})
            },
        },
        methods: {
            changeFile: function (event) {
                const reader = new FileReader()
                reader.onload = () => this.url = reader.result
                reader.readAsDataURL(event.target.files[0])
            },
        },
    })

    readConfig()
    window.onbeforeunload = saveConfig

    function readConfig() {
        const url = localStorage.url
        vm.url = url != undefined && url != null && url != '' ? url : vm.url

        const leftSpace = localStorage.leftSpace
        vm.leftSpace = leftSpace != undefined && leftSpace != null && leftSpace != '' ? leftSpace : vm.leftSpace

        const topSpace = localStorage.topSpace
        vm.topSpace = topSpace != undefined && topSpace != null && topSpace != '' ? topSpace : vm.topSpace

        const imageWidth = localStorage.imageWidth
        vm.imageWidth = imageWidth != undefined && imageWidth != null && imageWidth != '' ? imageWidth : vm.imageWidth

        const imageHeight = localStorage.imageHeight
        vm.imageHeight = imageHeight != undefined && imageHeight != null && imageHeight != '' ? imageHeight : vm.imageHeight

        const whirl = parseInt(localStorage.whirl)
        if (isNum(whirl)) {
            vm.whirl = whirl
        }

        const barrier = parseInt(localStorage.barrier)
        if (isNum(barrier)) {
            vm.barrier = barrier
        }
    }

    function saveConfig() {
        localStorage.setItem('url', vm.url)
        localStorage.setItem('leftSpace', vm.leftSpace)
        localStorage.setItem('topSpace', vm.topSpace)
        localStorage.setItem('imageWidth', vm.imageWidth)
        localStorage.setItem('imageHeight', vm.imageHeight)
        localStorage.setItem('whirl', vm.whirl)
        localStorage.setItem('barrier', vm.barrier)
    }

    function isNum(s) {
        if (s != null && s != '') {
            return !isNaN(s)
        }
        return false;
    }
</script>
</html>
